*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

padding:30px;
}

section{
margin-bottom:25px;
}

.div1{
margin-bottom:20px;
}

.div2{
display:flex;
gap:20px;
}

.div3{
background:white;
flex:1;
padding:25px;
border-radius:10px;
box-shadow:0 0 5px lightgray;
}

.div4{
display:flex;
gap:20px;
}

.div5{
flex:2;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 5px lightgray;
}

.div6{
flex:1;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 5px lightgray;
}

.div7{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 5px lightgray;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#fafafa;
padding:15px;
border: 2px solid #eee;
}

td{
padding:15px;
border:2px solid #eee;
text-align:center;
}

input,select{

width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid lightgray;
border-radius:5px;

}

button{

width:100%;
padding:12px;
background:#4d2df5;
color:white;
border:none;
border-radius:5px;

}

h1{
margin-bottom:10px;
}

p{
color:gray;
}

.small{

display:flex;
gap:10px;

}

.status{

padding:5px 10px;
background:#dff5e3;
border-radius:20px;

}

.pending{

padding:5px 10px;
background:#ddeaff;
border-radius:20px;

}
