*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fourthdiv{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.fchild{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 2px 4px 10px;
}
.fchild img{
    height: 230px;
    width: 180px;   
}